*{
    background: #1a1b1d;
    font-family: 'Bellefair', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
#nav-bar {
    padding: 10px;
    display: flex;
    justify-content: center;
}
@keyframes name-blur {
    from {filter: drop-shadow(0 0 0 var(#FCA311));}
    to {text-shadow: 0 0 10px #FCA311, 0 0 20px #FCA311, 0 0 40px #FCA311, 0 0 80px #FCA311, 0 0 120px #FCA311;}
  }

#nav-bar div a {
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
    font-weight: bold;
    font-size: 2vw;
    animation: name-blur 1s alternate infinite ease-in-out;
    color: #FCA311;
}

#nav-bar div{
    margin: 10px;
}

section{
    display: block;
    align-items: center;
}

.apresent {
    
    margin: auto;

    padding: 50px;
}
.apresent h1{
    font-size: 7vw;
    color: #FCA311;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #1a1b1d;

  }
body .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: auto;
    margin: 0;
  }
  
  body .container .card {
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
  }
  
  body .container .card:nth-child(1) .box .content a {
    background: #FCA311;
  }
  
  body .container .card:nth-child(2) .box .content a {
    background: #FCA311;
  }
  
  body .container .card:nth-child(3) .box .content a {
    background: #FCA311;
  }
  
  body .container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
  }
  
  body .container .card .box:hover {
    transform: translateY(-50px);
  }
  
  body .container .card .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
  }
  
  .content h1, h2, h3{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
  }
  body .container .card .box .content {
    padding: 20px;
    text-align: center;
  }
  
  body .container .card .box .content h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8rem;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.1);
  }
  
  body .container .card .box .content h3 {
    font-size: 1.8rem;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
  }
  
  body .container .card .box .content p {
    font-size: 1.3rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    transition: 0.5s;
  }
  
  body .container .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: black;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  body .container .card .box .content a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #fff;
    color: #000;
  }
  
.aboutme{
    
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.about-title{
    font-size: 3em;
    color: #FCA311;
}
.text{
    margin-right: 5px;
}
.text  p{
    color: #FCA311;
    font-size:1.2em ;
}

.image-me img {
    max-width: 18vw;
    max-height: 25vw;
    border-radius: 10px;
}


.programming{
  gap: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 6rem;
  padding-bottom: 2rem ;
}

.title1{
  font-size: 4rem;
  text-align: center;
  color: #FCA311;
  font-family: 'Amatic SC', cursive;
}

.title2{
  font-size: 1.6rem;
  text-align: center;
  color: #FCA311;
    font-family: 'Amatic SC', cursive;
  border-bottom: #FCA311 solid 0.7px;
}

.linguagens{
  gap: 10px;
  display: flex ;
  justify-content: center;
}

.linguagens img{
  background-color: #da9b35;
  border-radius: 10px;
  padding: 5px;
  transition: 0.8s;
}

.linguagens img:hover{
  background-color: #1a1b1d;
  transition: 0.8s;
  transform: translateY(-25px);
}

*{
  margin:0;
  padding:0;
}
.zimbas {
  margin-bottom: 10px;
  background: #f0f0f0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
}
.blau {
  font-family: 'Amatic SC', cursive;

  font-size: 8rem;
  overflow:hidden;
  
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  border-radius: 20px;
  width: 60px;
  height: 60px;
  background: #f0f0f0;
  box-shadow:  0 0 0 #cccccc,
               0 0 0 #ffffff,
                10px 10px 10px #cccccc inset,
                -10px -10px 10px #ffffff inset;
  animation: anime 3s cubic-bezier(0.16, 1, 0.3, 1) 1s infinite alternate;
  /* animation-fill-mode: forwards; */
}

@keyframes anime {
  0% {
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    box-shadow:  0 0 0 #cccccc,
                 0 0 0 #ffffff,
                  10px 10px 10px #cccccc inset,
                  -10px -10px 10px #ffffff inset;
  }
  25% {
    width: 60px;
    height: 60px;
    background: #f8f8f8;
    box-shadow:  10px 10px 10px #cccccc,
                 10px 10px 10px #ffffff,
                 0 0 0 #cccccc inset,
                 0 0 0 #ffffff inset;
  }
  50% {
    width: 60px;
    height: 240px;
    background: #f8f8f8;
    box-shadow:  10px 10px 10px #cccccc,
                 10px 10px 10px #ffffff,
                 0 0 0 #cccccc inset,
                 0 0 0 #ffffff inset;
  }
  100% {
    width: 480px;
    height: 240px;
    background: #fafafa;
    box-shadow:  40px 40px 40px #cccccc,
                 0 0 0 #ffffff,
                 0 0 0 #cccccc inset,
                 2px 2px 2px #ffffff inset;
  }}

.gaming{
  display: flex;
  justify-content: center;
}

:root{
  --background-dark: white;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}




.card-grid{
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.cards2{
  list-style: none;
  position: relative;
}

.cards2:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.cards2:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .cards2:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(15px);
}

.card__content{
  
  background-color: transparent;
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  background-color: transparent;

  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  background-color: transparent;

  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}
